{%extends "base.html"%}

{% load static %}

{% block title%}Навыки{%endblock title%}


{% block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% static 'image/image.png' %}" class="rounded-circle" alt="Profile" width="150">
        </div>
        <div class="col-md-8">
            <h1>Мой навыки</h1>
            <p class="lead">Я много чего умею</p>
            <p>Например плавать</p>
        </div>
    </div>
</div>
{%endblock content%}